@import '../../globals/scss-experimental/vars';
@import '../../globals/scss-experimental/colors';
@import '../../globals/scss-experimental/typography';
@import '../../globals/scss-experimental/spacing';
@import '../../globals/scss-experimental/helper-mixins';
@import '../../globals/scss-experimental/import-once';
@import 'mixins';
@import '../../globals/scss-experimental/css--reset';

@include exports('button') {
  // <button> elements cannot be used as flex containers
  button.#{$prefix}--btn {
    display: inline-block;
  }

  // Reset intrisic padding in Firefox (see #731)
  button.#{$prefix}--btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // Vertically center icon inside <button>
  button.#{$prefix}--btn .#{$prefix}--btn__icon {
    position: relative;
    vertical-align: middle;
    top: -1px;

    // Targets IE10+ browsers: Reset <svg> position for vertical centering
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      top: 0;
    }
  }

  .#{$prefix}--btn {
    @include button-base;
  }

  .#{$prefix}--btn--primary {
    @include button-theme(
      palette('primary', 'brand-01'),
      transparent,
      palette('primary', 'inverse-01'),
      $hover-primary,
      palette('primary', 'ui-01')
    );
  }

  .#{$prefix}--btn--secondary {
    @include button-theme(
      transparent,
      palette('primary', 'brand-01'),
      palette('primary', 'brand-01'),
      $hover-secondary,
      palette('primary', 'brand-01')
    );

    &:hover,
    &:focus {
      color: palette('primary', 'inverse-01');
    }

    &:active {
      color: palette('primary', 'brand-01');
    }

    &:hover > .#{$prefix}--btn__icon,
    &:focus > .#{$prefix}--btn__icon {
      fill: palette('primary', 'inverse-01');
    }

    &:hover:disabled,
    &:focus:disabled {
      color: palette('primary', 'brand-01');
    }
  }

  .#{$prefix}--btn--tertiary {
    @include button-theme(
      transparent,
      palette('primary', 'ui-05'),
      palette('primary', 'ui-05'),
      palette('primary', 'ui-05'),
      palette('primary', 'ui-05')
    );

    &:hover,
    &:focus {
      color: palette('primary', 'inverse-01');
    }

    &:active {
      color: palette('primary', 'ui-05');
    }

    &:hover:disabled,
    &:focus:disabled {
      color: palette('primary', 'ui-05');
    }

    &:hover > .#{$prefix}--btn__icon,
    &:focus > .#{$prefix}--btn__icon {
      fill: palette('primary', 'inverse-01');
    }
  }

  .#{$prefix}--btn--ghost {
    @include button-theme(
      transparent,
      transparent,
      palette('primary', 'brand-01'),
      palette('primary', 'brand-01'),
      palette('primary', 'brand-01')
    );

    &:hover,
    &:focus {
      color: palette('primary', 'inverse-01');

      .#{$prefix}--btn__icon {
        fill: palette('primary', 'inverse-01');
      }
    }

    .#{$prefix}--btn__icon {
      margin-left: $spacing-xs;
    }

    &:hover:disabled,
    &:focus:disabled {
      color: palette('primary', 'brand-01');

      .#{$prefix}--btn__icon {
        fill: palette('primary', 'brand-01');
      }
    }
  }

  .#{$prefix}--btn--danger {
    @include button-theme(
      transparent,
      palette('primary', 'support-01'),
      palette('primary', 'support-01'),
      palette('primary', 'support-01'),
      palette('primary', 'support-01')
    );

    &:hover {
      color: palette('primary', 'inverse-01');
      border: $button-border-width solid transparent;
    }

    &:focus {
      color: palette('primary', 'inverse-01');
    }

    &:active {
      color: palette('primary', 'support-01');
    }

    &:hover:disabled,
    &:focus:disabled {
      color: palette('primary', 'support-01');
      border: $button-border-width solid palette('primary', 'support-01');
    }

    &:hover > .#{$prefix}--btn__icon,
    &:focus > .#{$prefix}--btn__icon {
      fill: palette('primary', 'inverse-01');
    }
  }

  .#{$prefix}--btn--danger--primary {
    @include button-theme(
      palette('primary', 'support-01'),
      transparent,
      palette('primary', 'inverse-01'),
      darken(palette('primary', 'support-01'), 10%),
      palette('primary', 'ui-01')
    );

    &:hover:disabled,
    &:focus:disabled {
      color: palette('primary', 'ui-01');
      border: $button-border-width solid palette('primary', 'support-01');
    }
  }

  .#{$prefix}--btn--sm {
    @include letter-spacing;
    height: 2rem;
    padding: $button-padding-sm;
  }

  .#{$prefix}--btn--secondary + .#{$prefix}--btn--primary,
  .#{$prefix}--btn--tertiary + .#{$prefix}--btn--danger--primary {
    margin-left: $spacing-md;
  }

  // Skeleton State
  .#{$prefix}--btn.#{$prefix}--skeleton {
    @include skeleton;
    width: rem(150px);
  }
}
