//-----------------------------
// Link
//-----------------------------

@import '../../globals/scss-experimental/colors';
@import '../../globals/scss-experimental/vars';
@import '../../globals/scss-experimental/layout';
@import '../../globals/scss-experimental/typography';
@import '../../globals/scss-experimental/helper-mixins';
@import '../../globals/scss-experimental/import-once';
@import '../../globals/scss-experimental/css--reset';

@include exports('link') {
  .#{$prefix}--link {
    @include reset;
    @include font-family;
    @include typescale('zeta');
    @include font-smoothing;
    font-weight: 600;
    color: $brand-01;
    text-decoration: underline;
    transition: $transition--base;

    &:visited {
      color: $brand-01;
    }

    &:active,
    &:hover,
    &:focus {
      color: $hover-primary-text;
    }

    &:focus {
      @include focus-outline('border');
    }

    &[aria-disabled='true'] {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
